flask
flask-socketio
flask-sqlalchemy
pymysql
pandas
numpy
scikit-learn
joblib
langchain
langchain-google-genai
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
google-generativeai
python-dotenv
tensorflow
opencv-python-headless
nltk
beautifulsoup4
gunicorn
eventlet