@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&display=swap");
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* General reset and body styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #a6d0e5;
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
}
.block-item {
  width: 69%;
  display: block;
}
.flex-item {
  display: flex;
}
.chart-main {
  display: flex;
  justify-content: space-between !important;
  margin-left: 8px;
  margin-bottom: 20px;
}
canvas {
  display: block;
  box-sizing: border-box;
  height: 140px !important;
  width: 140px !important;
  margin: auto;
}
.chart-container {
  height: 207px;
  min-width: 199px;
  display: block;
  margin: 0 auto;
  background: white;
  width: fit-content;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chart-container h2 {
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
  margin-top: -91px;
  text-align: center;
  font-weight: 700;
  color: #000;
}
.chart-container h3 {
  font-size: 21px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  color: #000;
  padding: 5px 5px 0px 5px;
}

.upcoming_components_wrap {
  display: flex;
  justify-content: space-evenly;
}
.upcoming_component h3 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.upcoming_component {
  box-sizing: border-box;
  margin: 20px 6px 24px 10px;
  padding: 20px;
  border-radius: 25px;
  background-color: #00b4f6;
  color: white;
  height: 296px;
  overflow: hidden;
  width: 47%;
}

.upcoming_component .fadeIn {
  display: flex;
  justify-content: center;
}
.upcom-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  border-radius: 25px;
  background-color: #00143d;
  color: white;
  margin: 10px 0 11px 0;
  transition: transform 0.4s ease-in-out;
}
.upcom-item span {
  width: 5px;
  height: 30px;
  margin: 9px 0 0 -19.7px;
  border-radius: 50px 100px 100px 50px;
  background-color: #ffffff;
  overflow: hidden;
}
.upcom-item div p {
  margin: 0;
}
.upcom-header {
  margin: auto;
  width: 90%;
}
.upcom-item:hover {
  background-color: #0056b3;
  transform: scale(1.008);
}

.upcom_patient {
  font-weight: 600;
}
.Nutri_contain {
  transition: transform 0.4s ease-in-out;
  text-align: left;
  background: #00143d;
  border-radius: 25px;
  color: white;
  margin-left: 9px;
  margin-top: 20px;
  width: 43%;
  text-decoration: none;
  height: 296px;
}
.Nutri_contain img {
  width: 100%;
  height: 160px;
  border-radius: 25px;
}
.Nutri_contain h3 {
  font-size: 22px;
  padding: 10px 0px;
  text-align: left;
  margin-left: 13px;
  font-weight: 700;
}
.Nutri_contain p {
  padding: 0px 0 0 15px;
}
.Nutri_contain:hover {
  transform: scale(1.015);
}
.Nutri_contain a {
  text-decoration: none;
  color: #fff;
}
.Nutri_contain a:hover {
  text-decoration: none;
  color: #fff;
}
.welcome {
  padding: 20px;
}
.welcome h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000212;
  margin: 0;
}
.welcome p {
  font-size: 20px;
  font-weight: 600;
  color: #000212;
  margin: 0;
  padding: 10px;
}
.greet {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #57adba;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin: 4px;
}

.sidebar a:hover {
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
  background: #91e4f9;
  color: #333;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #57adba;
  color: #ffffff;
}
.sidebar-footer img {
  height: 120px;
  border-radius: 50%;
}

.dropdown {
  padding-left: 20px;
  display: none;
}

.dropdown.active {
  display: block;
}

.dropdown a {
  padding: 8px 10px;
  margin: 0 0 0 20px;
  color: #ccc;
}

.dropdown a:hover {
  background-color: #1992ad;
}

/* ntent styles */
.content {
  margin-left: 260px;
  padding: 0px 20px;
}

table {
  overflow: hidden;
  th,
  td {
    padding: 0.25em 0.5em;
    text-align: left;
    vertical-align: top;
  }
  tr {
    transition: all 1s ease-in-out;
    &.slide-out {
      transform: translateX(100%);
    }
  }
}

h2 {
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  font-size: larger;
  color: #ffffff;
  font-weight: bold;
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.app-tables {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.appointment-card {
  margin: 60px 0;
  width: 92%;
}
.accepted-appointment-card {
  margin: 0px 0 70px 0;
  width: 92%;
}
th {
  color: #fff;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 69px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 50px;
}
/* Doctor Dashboard styles */
h1 {
  margin-bottom: 10px;
  color: rgb(0, 90, 131);
  font-weight: 900;
  text-shadow: 0px 6px 11px #ffffff;
}
h2 {
  margin-bottom: 10px;
  color: #ffffff;
}
.heading_services {
  font-size: 45px;
  margin-bottom: 23px;
  margin-top: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-evenly;
  width: 96%;
  margin: auto;
  margin-left: 25px;
}
.feature {
  min-height: 320px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #00143d;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;
}
.features a {
  width: 30%;
  text-decoration: none;
}
.features a:hover {
  text-decoration: none;
}
.feature img {
  width: 100%;
  height: 180px;
  border-radius: 25px;
}
.feature h4 {
  font-size: 22px;
  text-align: left;
  margin-top: 10px;
  font-weight: 700;
}
.feature:hover {
  transform: scale(1.03);
}
.description {
  padding: 20px;
  text-align: left;
}

.description p b {
  font-size: 18px;
  font-weight: 700;
}
tr.spacer {
  padding: 0 !important;
  height: 4px;
  border-radius: 0 !important;
  background: #f2f2f200 !important;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  background: transparent;
}

table th {
  padding: 10px;
  text-align: left;
  color: black;
  border: none;
  font-size: large;
  background-color: #f2f2f200;
}
table td {
  padding: 5px;
  text-align: left;
  border: none;
  font-weight: 600;
  text-transform: capitalize;
  vertical-align: middle;
}
table td:first-child {
  border-radius: 20px 0px 0px 20px;
}

table td:last-child {
  border-radius: 0px 20px 20px 0px;
}

table:nth-child(1) td:nth-child(4) {
  padding: 10px;
}

table:nth-child(2) td:nth-child(2),
td:nth-child(5) {
  padding: 10px;
}

table tr {
  background-color: #ffffffa6;
  border-radius: 10px !important;
  overflow: hidden;
}
#openChatBtn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#openChatBtn:hover {
  background-color: #218fef;
  color: #fff;
  border-color: #fff;
}

.padding {
  padding: 10px 16px 5px 16px;
  background-color: rgb(77, 164, 177);
  backdrop-filter: blur(15px);
  box-shadow: rgba(21, 235, 255, 0.16) 0px 50px 100px -20px,
    rgba(112, 255, 245, 0.59) 0px 30px 60px -30px,
    rgba(0, 227, 231, 0.55) 0px -2px 6px 0px inset;
  border-radius: 25px;
}
form button,
form a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover,
form a:hover {
  background-color: #2caff9;
  color: #fff;
  border-color: #fff;
}

form a {
  text-align: center;
  margin-top: 10px;
  display: block;
  width: 100px;
}
.accept {
  display: flex;
  justify-content: space-evenly;
}
.accept button:nth-child(2) {
  margin-left: 20px;
}

#calendar {
  width: 100% !important;
  margin-right: 0px !important;
}
.today {
  border-radius: 50px !important;
}

#calendar th,
#calendar td {
  padding: 10px !important;
  font-size: 13px !important;
}
.cal {
  height: 545px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: 20px;
}
