@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&display=swap");
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* General reset and body styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: url(../images/doc_dash_back.jpg);
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
}

.header-fixed {
  background-image: linear-gradient(
    to top,
    #000e19,
    #043e7c,
    #0161c8,
    #007bff,
    #0062cc
  );
  padding: 20px 40px;
  height: 72px;
  color: #ffffff;
  box-sizing: border-box;
  top: -100px;
  box-shadow: #75b8ff4d 0px 48px 100px 0px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.header-fixed .header-limiter nav a {
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  font-weight: 900;
  color: snow;
  transition: color 0.6s ease-in-out;
  position: relative; /* Added position relative */
}

table {
  overflow: hidden;
  th,
  td {
    padding: 0.25em 0.5em;
    text-align: left;
    vertical-align: top;
  }
  tr {
    transition: all 1s ease-in-out;
    &.slide-out {
      transform: translateX(100%);
    }
  }
}

h2 {
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  font-size: larger;
  color: #343a40;
  font-weight: bold;
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.app-tables {
  display: flex;
  justify-content: space-evenly;
}
.appointment-card {
  margin: 20px;
  background: rgba(#111, rgb(0, 0, 0), rgb(0, 0, 0), 0.6);
  box-shadow: #333;
  width: 40%;
}
.accepted-appointment-card {
  margin: 20px;
  background: rgba(#111, rgb(0, 0, 0), rgb(0, 0, 0), 0.6);
  box-shadow: #333;
  width: 40%;
}
th {
  color: #fff;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 69px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 50px;
}
/* Doctor Dashboard styles */
h1 {
  margin-bottom: 10px;
  color: #000000;
  font-weight: 900;
  text-shadow: 0px 6px 11px #ffffff;
}
h2 {
  margin-bottom: 10px;
  color: #444;
}

tr.spacer {
  padding: 0 !important;
  height: 4px;
  border-radius: 0 !important;
  background: #f2f2f200 !important;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  background: transparent;
}

table th {
  padding: 10px;
  text-align: left;
  color: black;
  border: none;
  font-size: large;
  background-color: #f2f2f200;
}
table td {
  padding: 5px;
  text-align: left;
  border: none;
  font-weight: 500;
  text-transform: capitalize;
  vertical-align: middle;
}
table td:first-child {
  border-radius: 20px 0px 0px 20px;
}

table td:last-child {
  border-radius: 0px 20px 20px 0px;
}

table:nth-child(1) td:nth-child(4) {
  padding: 10px;
}

table:nth-child(2) td:nth-child(2),
td:nth-child(5) {
  padding: 10px;
}

table tr {
  background-color: #ffffffa6;
  border-radius: 10px !important;
  overflow: hidden;
}
#openChatBtn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#openChatBtn:hover {
  background-color: #218fef;
  color: #fff;
  border-color: #fff;
}

.padding {
  padding: 10px 16px 5px 16px;
  background-color: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(15px);
  box-shadow: rgba(21, 130, 255, 0.16) 0px 50px 100px -20px,
    rgba(112, 179, 255, 0.59) 0px 30px 60px -30px,
    rgb(0 90 231 / 55%) 0px -2px 6px 0px inset;
  border-radius: 10px;
}
form button,
form a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover,
form a:hover {
  background-color: #2caff9;
  color: #fff;
  border-color: #fff;
}

form a {
  text-align: center;
  margin-top: 10px;
  display: block;
  width: 100px;
}
.accept {
  display: flex;
  justify-content: space-evenly;
}
.accept button:nth-child(2) {
  margin-left: 20px;
}
