@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&display=swap");
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

body {
  /* background-image: linear-gradient(
    to right,
    #d1dfe8,
    #dbe4ed,
    #e5eaf1,
    #eef0f5,
    #f6f6f9,
    #f6f6f9,
    #f6f7fa,
    #f6f7fa,
    #eef1f6,
    #e6ebf2,
    #dde5ee,
    #d3e0e9
  ); */
  background: #003358cf;
  font-family: "Nunito Sans", sans-serif;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  border-radius: 25px;
}
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
  border-radius: 25px;
}
h2 {
  font-size: 30px;
  /* text-shadow: 0 4.36px 7px #333333, 0 2px 1px #757575; */
  font-family: "Nunito Sans", sans-serif;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#confirmation-message {
  display: none;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: rgba(255, 0, 0, 0.799);
  border-radius: 10px;
}
.padding {
  padding: 10px 16px 5px 16px;
  border-radius: 25px;
  background-color: #00143d;
}
h1 {
  color: #ffffff;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 69px;
}

.custom-table {
  overflow: hidden;
  th,
  td {
    padding: 0.25em 0.5em;
    text-align: left;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.19);
  }
  tr {
    transition: all 1s ease-in-out;
    &.slide-out {
      transform: translateX(100%);
    }
  }
}
.booking {
  .animation {
    transition: all 1s ease-in-out;
    &.slide-out {
      transform: translateY(100%);
    }
  }
}
/* header */

.header-fixed {
  background: #00143d;
  padding: 20px 40px;
  height: 81px;
  color: #ffffff;
  box-sizing: border-box;
  top: -100px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.header-fixed .header-limiter nav a {
  font-family: "Nunito Sans", sans-serif;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
  transition: color 0.6s ease-in-out;
  position: relative; /* Added position relative */
}

container a {
  color: #7c7c7c;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s;
}

container a:hover {
  color: #0e4276;
}

/* Add some Bootstrap styling */
.container {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0;
  justify-content: space-between;
}

.btn {
  background-color: #16cffc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.custom-table tr.spacer {
  padding: 0 !important;
  height: 4px;
  border-radius: 0 !important;
  background: transparent !important;
}
/* Add a simple animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  margin: 15px 0px 15px 20px;
  font-size: 50px;
}
.custom-table {
  border: none;
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  font-size: large;
  padding: 10px;
  text-align: left;
  border: none;
  color: white;
  background-color: #f2f2f200;
}
.custom-table td {
  padding: 5px;
  width: fit-content;
  text-align: left;
  border: none;
  font-weight: 600;
  text-transform: capitalize;
  vertical-align: middle;
  background-color: #f2f2f200;
}
.custom-table td:first-child {
  border-radius: 20px 0px 0px 20px;
}
.custom-table td:nth-child(2) {
  padding: 10px;
}
.custom-table td:last-child {
  border-radius: 0px 20px 20px 0px;
}

.custom-table tr {
  background-color: #ffffffc7;
  border-radius: 10px !important;
  overflow: hidden;
}

form {
  display: flex;
}
.details {
  min-width: 87%;
}
.boo-but {
  margin: 32px 0px 0px 14px;
  transition: all 1s ease-in-out;
  &.slide-out {
    transform: translateX(200%);
  }
}
.book_table {
  background-color: #00143d;
  backdrop-filter: blur(15px);
  padding: 16px 16px 0px 16px;
  border-radius: 25px;
  overflow: hidden;
}

form button,
form a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover,
form a:hover {
  background-color: #0e4276;
}

form a {
  text-align: center;
  margin-top: 10px;
  display: block;
  width: 100px;
}
#openChatBtn {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#openChatBtn:hover {
  background-color: #0e4276;
  color: #ffffff;
}

.col-md-6 {
  margin-left: -30px;
}

label {
  color: white;
  font-weight: 700;
}

.button-51 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  font-size: 0.8125rem;
  font-weight: 450;
  letter-spacing: normal;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  border: 0;
  /* box-shadow: inset 0 -0.0625rem 0 #b5b5b5, inset -0.0625rem 0 0 #e3e3e3, inset 0.0625rem 0 0 #e3e3e3, inset 0 0.0625rem 0 #e3e3e3; */
  color: #303030;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  margin: auto 0;
  min-height: 215px;
  min-width: 0.75rem;
  padding: 0.375rem 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  transition: background-color 0.075s cubic-bezier(0.19, 0.91, 0.38, 1),
    box-shadow 0.075s cubic-bezier(0.19, 0.91, 0.38, 1);
  transition-behavior: normal, normal;
  user-select: none;
}

@media (-ms-high-contrast: active) {
  .button-51 {
    border-image: none 100% 1 0 stretch;
    border-style: none;
  }
}

.button-51__Content {
  align-items: center;
  display: flex;
  font-size: 0.8125rem;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1.25rem;
  min-height: 0.0625rem;
  min-width: 0.0625rem;
  position: relative;
  transition: transform 75ms cubic-bezier(0.19, 0.91, 0.38, 1);
  transition-behavior: normal;
}

@media (min-width: 48em) {
  .button-51__Content {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.button-51::after {
  border-radius: 0.25rem;
  bottom: -0.0625rem;
  box-shadow: 0 0 0 -0.0625rem #005bd3;
  content: "";
  display: block;
  left: -0.0625rem;
  pointer-events: none;
  position: absolute;
  right: -0.0625rem;
  top: -0.0625rem;
  z-index: 1;
}

.button-51:focus-visible {
  outline: 2px solid rgb(0, 91, 211);
  outline-offset: 0.0625rem;
}

.button-51:hover {
  background: #0052a3;
  box-shadow: inset 0 -0.0625rem 0 #003feb, inset 0.0625rem 0 0 #00b4f6,
    inset -0.0625rem 0 0 #003cff, inset 0 0.0625rem 0 #00c6f7;
  outline: none;
  color: white;
}

.button-51:focus,
.button-51:focus-visible {
  box-shadow: inset 0 -0.0625rem 0 #b5b5b5, inset -0.0625rem 0 0 #e3e3e3,
    inset 0.0625rem 0 0 #e3e3e3, inset 0 0.0625rem 0 #e3e3e3;
}

.button-51:active {
  background: #f7f7f7;
  box-shadow: 0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, 0.2) inset,
    0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.12) inset,
    -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.12) inset;
}

.button-51:focus-visible::after {
  content: none;
}

.button-51:active::after {
  border-style: none;
  box-shadow: none;
}

.button-51:active .button-51__Content {
  transform: translateY(0.0625rem);
}

.button-51 .button-51__Content {
  width: 100%;
}

.button-51.button-51 .button-51__Content {
  font-weight: 650;
  padding: 6px 10px;
  font-size: 15px;
}
.button-51:focus {
  outline: none;
}
.sub-but {
  display: flex;
  justify-content: flex-end;
}
.button-51__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-51__Text {
  color: #000;
  font-size: 30px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(
    270deg
  ); /* Rotate the text back to the correct orientation */
  margin: 12px 6px; /* Remove any default margin to ensure precise alignment */
}

.features {
  display: flex;
  justify-content: space-evenly;
}
.feature {
  min-height: 320px;
  max-height: 330px;
  min-width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #00143d;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;

}
.feature img {
  width: 400px;
  height: 180px;
  border-radius: 25px;
}
.feature h4 {
  font-size: 22px;
  text-align: left;
  margin-top: 10px;
  font-weight: 700;
}
.feature:hover{
  transform: scale(1.03);
}
.description {
  padding: 20px;
  text-align: left;
}

.description p b{
  font-size: 18px;
  font-weight: 700;
}
.nutri{
  display: flex;
  justify-content: space-between;
}
.Nutri_contain{
  transition: transform 0.4s ease-in-out;
  text-align: left;
  background: #00143d;
  border-radius: 25px;
  color: white;
  margin-right: 20px;
  width: 277px;
  text-decoration: none;
}
.Nutri_contain img{
  width: 101px;
  border-radius: 25px;
  float :right;
}
.Nutri_contain p{
  padding: 10px 0 0 15px;
}
.Nutri_contain:hover{
  transform: scale(1.03);
}
.Nutri_contain a{
  text-decoration: none;
  color:#fff;
}
.Nutri_contain a:hover{
  text-decoration: none;
  color:#fff;
}