@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&display=swap");
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
p {
  margin-bottom: 0rem !important;
}
:root {
  --White: #fff;
  --Blue: #345ff6;
  --Gunmetal: #253347;
  --DarkElectricBlue: #5e6e85;
  --Borders: #d8e2e7;
}

body {
  /* background-image: linear-gradient(
    to right,
    #d1dfe8,
    #dbe4ed,
    #e5eaf1,
    #eef0f5,
    #f6f6f9,
    #f6f6f9,
    #f6f7fa,
    #f6f7fa,
    #eef1f6,
    #e6ebf2,
    #dde5ee,
    #d3e0e9
  ); */
  background: #003358cf !important;
  font-family: "Nunito Sans", sans-serif;
}

/* Sidebar styles */

.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #007bff;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin: 4px;
}

.sidebar a:hover {
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
  background: #005064;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #0056b3;
  color: #ffffff;
}
.sidebar-footer img {
  height: 120px;
  border-radius: 50%;
}

.dropdown {
  padding-left: 20px;
  display: none;
}

.dropdown.active {
  display: block;
}

.dropdown a {
  padding: 8px 10px;
  margin: 0 0 0 20px;
  color: #ccc;
}

.dropdown a:hover {
  background-color: #555;
}

/* ntent styles */
.content {
  margin-left: 260px;
  padding: 0px 20px;
}

.usertype-header {
  text-align: right;
  color: white;
  font-size: medium;
  font-weight: 700;
  margin-right: 25px;
}
/* Sidebar header styles */
.sidebar-header {
  text-align: center;
  background-color: #0056b3;
  margin-bottom: 40px;
}

.sidebar-header h2 {
  margin: 0;
  color: #fff;
}

.greet {
  color: #ffffff;
}
.greet p {
  margin-left: 30px;
}

.dash-banner {
  box-sizing: border-box;
  margin: 24px 0 0px 0;
  padding: 20px;
  border-radius: 25px;
  background: #000f3d;
  width: 81.5%;
  left: -17px;
  display: flex;
  height: 214px;
  margin-bottom: 11px;
}
.dash-banner img {
  width: 220px;
  height: 280px;
  position: absolute;
  top: 70px;
  left: 820px;
}
.dash-banner h1 {
  width: 102.5%;
  padding-right: 265px;
  font-weight: 700;
}
.upcoming_components_wrap {
  display: flex;
  justify-content: space-between;
  width: 69%;
}
.upcoming_component h3 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.upcoming_component {
  box-sizing: border-box;
  margin: 20px 0 24px 30px;
  padding: 20px;
  border-radius: 25px;
  width: 33%;
  background-color: #00b4f6;
  color: white;
  height: 296px;
  overflow: hidden;
  width: 45%;
}

.upcoming_component .fadeIn {
  display: flex;
  justify-content: center;
}
.upcom-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #00143d;
  color: white;
  margin: 10px 0;
  transition: transform 0.4s ease-in-out;
}
.upcom-item span {
  width: 5px;
  height: 30px;
  margin: 9px 0 0 -19.7px;
  border-radius: 50px 100px 100px 50px;
  background-color: #ffffff;
}
.upcom-header {
  width: 100%;
}
.upcom-item:hover {
  background-color: #0056b3;
  transform: scale(1.008);
}

.upcom_doctor {
  margin-top: 10px;
  font-weight: 600;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  border-radius: 25px;
}
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
  border-radius: 25px;
}
h2 {
  font-size: 30px;
  /* text-shadow: 0 4.36px 7px #333333, 0 2px 1px #757575; */
  font-family: "Nunito Sans", sans-serif;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#confirmation-message {
  display: none;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: rgba(255, 0, 0, 0.799);
  border-radius: 10px;
}
.padding {
  padding: 0px 16px 5px 16px;
  border-radius: 25px;
  background-color: #00143d;
}
h1 {
  color: #ffffff;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 69px;
}

a {
  text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*  */
.bmi_calculator {
  height: 535px;
  box-sizing: border-box;
  padding: 10px 32px 32px 32px;
  border-radius: 25px;
  background: var(--White);
  position: absolute;
  z-index: 2;
  top: 405px;
  right: -26px;
  transform: translate(-18%, -50%);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  width: 24%;
}
.bmi_calculator form {
  display: flex;
  flex-direction: column;
}
.bmi_calculator form h2 {
  color: var(--Gunmetal);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 32px;
  letter-spacing: -1.2px;
  line-height: normal;
}
.bmi_calculator form .choose_method {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 32px;
}
.bmi_calculator form .choose_method div {
  flex: 1;
  display: flex;
  height: 31px;
  flex-direction: row;
  align-items: center;
}
.bmi_calculator form .choose_method div .radio_wrap {
  font-size: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 150%;
  color: var(--Gunmetal);
  position: relative;
  padding-left: 50px;
}
.bmi_calculator form .choose_method div .radio_wrap input[type="radio"] {
  display: none;
}
.bmi_calculator
  form
  .choose_method
  div
  .radio_wrap
  input[type="radio"]:checked
  ~ span {
  border: 1px solid transparent;
  background: hsla(227, 92%, 58%, 0.15);
}
.bmi_calculator
  form
  .choose_method
  div
  .radio_wrap
  input[type="radio"]:checked
  ~ span::after {
  border: 1px solid var(--Blue);
  border-radius: 50%;
  background: var(--Blue);
}
.bmi_calculator form .choose_method div .radio_wrap span {
  height: 32px;
  width: 32px;
  border: 1px solid #d8e2e7;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.bmi_calculator form .choose_method div .radio_wrap span::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s ease-in-out 0s;
}
.bmi_calculator form .stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
  position: relative;
}
.bmi_calculator form .stats div {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.bmi_calculator form .stats div label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #5e6e85;
}
.bmi_calculator form .stats div input {
  padding: 20px 24px;
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  box-shadow: none;
  outline: 0;
  font-size: 24px;
  font-weight: 600;
  max-width: 135px;
  color: var(--Gunmetal);
  transition: border 0.3s ease;
  box-sizing: border-box;
}
.bmi_calculator form .stats div .cm {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: var(--Blue);
  line-height: normal;
  letter-spacing: -1.2px;
  top: 50px;
  left: 94px;
}
.bmi_calculator form .stats div .kg {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: var(--Blue);
  line-height: normal;
  letter-spacing: -1.2px;
  top: 50px;
  left: 260px;
}
.bmi_calculator form .stats div input:focus,
.bmi_calculator form .stats div input:hover {
  border: 1px solid var(--Blue);
}
.bmi_calculator form .stats_imperial {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  /* gap: 24px; */
  position: relative;
  margin-top: -22px;
  margin-bottom: 12px;
}
.bmi_calculator form .stats_imperial div label {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #5e6e85;
}
.bmi_calculator form .stats_imperial div input {
  padding: 20px 24px;
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  box-shadow: none;
  outline: 0;
  height: 53px;
  font-size: 24px;
  font-weight: 600;
  max-width: 135px;
  color: var(--Gunmetal);
  transition: border 0.3s ease;
  box-sizing: border-box;
}
.bmi_calculator form .stats_imperial div #height_in {
  margin-top: 31px;
}
.bmi_calculator form .stats_imperial div .ft {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: var(--Blue);
  line-height: normal;
  letter-spacing: -1.2px;
  top: 40px;
  left: 100px;
}
.bmi_calculator form .stats_imperial div .in {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: var(--Blue);
  line-height: normal;
  letter-spacing: -1.2px;
  top: 40px;
  left: 250px;
}
.bmi_calculator form .stats_imperial div #weight_lbs {
  margin-top: 31px;
}
.bmi_calculator form .stats_imperial div .st {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: var(--Blue);
  line-height: normal;
  letter-spacing: -1.2px;
  top: 124px;
  left: 100px;
}
.bmi_calculator form .stats_imperial div .lbs {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: var(--Blue);
  line-height: normal;
  letter-spacing: -1.2px;
  top: 124px;
  left: 250px;
}
.bmi_calculator form .stats_imperial div input:focus,
.bmi_calculator form .stats_imperial div input:hover {
  border: 1px solid var(--Blue);
}
.bmi_calculator .result_output {
  height: 200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  border-radius: 250px 999px 999px 250px;
}
.bmi_calculator .result_output .wrap_result #welcome {
  color: var(--White);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
  line-height: normal;
  margin-bottom: 16px;
}
.bmi_calculator .result_output .wrap_result {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.bmi_calculator .result_output .wrap_result #welcome_more {
  font-size: 14px;
  font-weight: 400;
  color: var(--White);
  line-height: 150%;
}
.bmi_calculator .result_output .wrap_result #top_bmi {
  display: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--White);
  margin-bottom: 5px;
}
.bmi_calculator .result_output .wrap_result #result {
  font-size: 64px;
  font-weight: 600;
  line-height: 110%; /* 70.4px */
  letter-spacing: -3.2px;
  color: var(--White);
}
.bmi_calculator .result_output #ideal_bmi_info {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: var(--White);
}

.dot {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%; /* Ensures the dot is circular */
  position: relative;
  top: 18px;
  right: 148px;
}

.bmi_components_wrap {
  box-sizing: border-box;
  margin: 0px 0 24px 30px;
  padding: 20px;
  border-radius: 25px;
  background: #000f3d;
  width: 96%;
  left: -17px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.bmi_components_wrap h1 {
  font-size: 30px;
  font-weight: 700;
}
.bmi_components_wrap .component {
  display: flex;
  flex-direction: column;
}
.bmi_components_wrap .component .comp-header {
  display: flex;
}
.bmi_components_wrap .component .comp-header img {
  margin: 0 10px 0 -10px;
}
.bmi_components_wrap .component h3 {
  margin: 0px 0 18px 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -1.2px;
}
.bmi_components_wrap .component p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--DarkElectricBlue);
}

.custom-table {
  overflow: hidden;
  th,
  td {
    padding: 0.25em 0.5em;
    text-align: left;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.19);
  }
  tr {
    transition: all 1s ease-in-out;
    &.slide-out {
      transform: translateX(100%);
    }
  }
}
.booking {
  .animation {
    transition: all 1s ease-in-out;
    &.slide-out {
      transform: translateY(100%);
    }
  }
}
/* header */
.booked {
  width: 70%;
  margin: 20px auto;
}
.header-fixed {
  background: #00143d;
  padding: 20px 40px;
  height: 81px;
  color: #ffffff;
  box-sizing: border-box;
  top: -100px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.header-fixed .header-limiter nav a {
  font-family: "Nunito Sans", sans-serif;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
  transition: color 0.6s ease-in-out;
  position: relative; /* Added position relative */
}

container a {
  color: #7c7c7c;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s;
}

container a:hover {
  color: #0e4276;
}

/* Add some Bootstrap styling */
.container {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0;
  justify-content: space-between;
}

.btn {
  background-color: #16cffc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.custom-table tr.spacer {
  padding: 0 !important;
  height: 4px;
  border-radius: 0 !important;
  background: transparent !important;
}
/* Add a simple animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
  font-family: "Nunito Sans", sans-serif;
}
.custom-table {
  border: none;
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  font-size: large;
  padding: 10px;
  text-align: left;
  border: none;
  color: white;
  background-color: #f2f2f200;
}
.custom-table td {
  padding: 5px;
  width: fit-content;
  text-align: left;
  border: none;
  font-weight: 600;
  text-transform: capitalize;
  vertical-align: middle;
  background-color: #f2f2f200;
}
.custom-table td:first-child {
  border-radius: 20px 0px 0px 20px;
}
.custom-table td:nth-child(2) {
  padding: 10px;
}
.custom-table td:last-child {
  border-radius: 0px 20px 20px 0px;
}

.custom-table tr {
  background-color: #ffffffc7;
  border-radius: 10px !important;
  overflow: hidden;
}

form {
  display: flex;
  justify-content: space-between;
}
.form-group {
  margin-right: 20px;
}
.details {
  min-width: 45%;
}
.boo-but {
  margin: 32px 0px 0px 14px;
  transition: all 1s ease-in-out;
  &.slide-out {
    transform: translateX(200%);
  }
}
.book_table {
  background-color: #00143d;
  backdrop-filter: blur(15px);
  padding: 0px 16px 0px 16px;
  border-radius: 25px;
  overflow: hidden;
  width: 70%;
  margin: auto;
}
.animation input {
  border-radius: 25px;
}

form button,
form a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover,
form a:hover {
  background-color: #0e4276;
}

form a {
  text-align: center;
  margin-top: 10px;
  display: block;
  width: 100px;
}
#openChatBtn {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1.5px black solid;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#openChatBtn:hover {
  background-color: #0e4276;
  color: #ffffff;
}

.col-md-6 {
  margin-left: -30px;
}

label {
  color: white;
  font-weight: 700;
}

.button-51 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  font-size: 0.8125rem;
  font-weight: 450;
  letter-spacing: normal;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  border: 0;
  /* box-shadow: inset 0 -0.0625rem 0 #b5b5b5, inset -0.0625rem 0 0 #e3e3e3, inset 0.0625rem 0 0 #e3e3e3, inset 0 0.0625rem 0 #e3e3e3; */
  color: #303030;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  margin: auto 0;
  min-height: 215px;
  min-width: 0.75rem;
  padding: 0.375rem 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  transition: background-color 0.075s cubic-bezier(0.19, 0.91, 0.38, 1),
    box-shadow 0.075s cubic-bezier(0.19, 0.91, 0.38, 1);
  transition-behavior: normal, normal;
  user-select: none;
}

@media (-ms-high-contrast: active) {
  .button-51 {
    border-image: none 100% 1 0 stretch;
    border-style: none;
  }
}

.button-51__Content {
  align-items: center;
  display: flex;
  font-size: 0.8125rem;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1.25rem;
  min-height: 0.0625rem;
  min-width: 0.0625rem;
  position: relative;
  transition: transform 75ms cubic-bezier(0.19, 0.91, 0.38, 1);
  transition-behavior: normal;
}

@media (min-width: 48em) {
  .button-51__Content {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.button-51::after {
  border-radius: 0.25rem;
  bottom: -0.0625rem;
  box-shadow: 0 0 0 -0.0625rem #005bd3;
  content: "";
  display: block;
  left: -0.0625rem;
  pointer-events: none;
  position: absolute;
  right: -0.0625rem;
  top: -0.0625rem;
  z-index: 1;
}

.button-51:focus-visible {
  outline: 2px solid rgb(0, 91, 211);
  outline-offset: 0.0625rem;
}

.button-51:hover {
  background: #0052a3;
  box-shadow: inset 0 -0.0625rem 0 #003feb, inset 0.0625rem 0 0 #00b4f6,
    inset -0.0625rem 0 0 #003cff, inset 0 0.0625rem 0 #00c6f7;
  outline: none;
  color: white;
}

.button-51:focus,
.button-51:focus-visible {
  box-shadow: inset 0 -0.0625rem 0 #b5b5b5, inset -0.0625rem 0 0 #e3e3e3,
    inset 0.0625rem 0 0 #e3e3e3, inset 0 0.0625rem 0 #e3e3e3;
}

.button-51:active {
  background: #f7f7f7;
  box-shadow: 0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, 0.2) inset,
    0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.12) inset,
    -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.12) inset;
}

.button-51:focus-visible::after {
  content: none;
}

.button-51:active::after {
  border-style: none;
  box-shadow: none;
}

.button-51:active .button-51__Content {
  transform: translateY(0.0625rem);
}

.button-51 .button-51__Content {
  width: 100%;
}

.button-51.button-51 .button-51__Content {
  font-weight: 650;
  padding: 6px 10px;
  font-size: 15px;
}
.button-51:focus {
  outline: none;
}
.sub-but {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0 0 -10px;
}
.button-51__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-51__Text {
  color: #000;
  font-size: 30px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(
    270deg
  ); /* Rotate the text back to the correct orientation */
  margin: 12px 6px; /* Remove any default margin to ensure precise alignment */
}

.features {
  display: flex;
  justify-content: space-evenly;
  width: 96%;
  margin: auto;
  margin-left: 45px;
}
.feature {
  min-height: 320px;
  max-height: 330px;
  width: 93%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #00143d;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;
}
.feature img {
  width: 100%;
  height: 180px;
  border-radius: 25px;
}
.feature h4 {
  font-size: 22px;
  text-align: left;
  margin-top: 10px;
  font-weight: 700;
}
.feature:hover {
  transform: scale(1.03);
}
.description {
  padding: 20px;
  text-align: left;
}

.description p b {
  font-size: 18px;
  font-weight: 700;
}
.nutri {
  display: flex;
  justify-content: space-between;
}
.Nutri_contain {
  transition: transform 0.4s ease-in-out;
  text-align: left;
  background: #00143d;
  border-radius: 25px;
  color: white;
  margin-right: 36px;
  margin-top: 20px;
  width: 43%;
  text-decoration: none;
  height: 296px;
}
.Nutri_contain img {
  width: 100%;
  height: 160px;
  border-radius: 25px;
}
.Nutri_contain h3 {
  font-size: 22px;
  text-align: left;
  margin-left: 13px;
  font-weight: 700;
}
.Nutri_contain p {
  padding: 0px 0 0 15px;
}
.Nutri_contain:hover {
  transform: scale(1.015);
}
.Nutri_contain a {
  text-decoration: none;
  color: #fff;
}
.Nutri_contain a:hover {
  text-decoration: none;
  color: #fff;
}
