<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NutriVision</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script src="{{ url_for('static', filename='nutri/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='nutri/js/bootstrap.min.js') }}"></script>
    
    <link
      href="{{ url_for('static', filename='nutri/css/nutri.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='nutri/css/style.css') }}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/header/header.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header-fixed" style="background: #00143d">
      <div class="header-limiter">
        <img
          class="logo"
          id="changingImage"
          src="../static/images/HealthAI-e.gif"
          alt="Default Image"
        />
        <nav>
          <a id="goBackBtn" onclick="goBack()" style="font-weight: 700"
            >Back</a
          >
        </nav>
      </div>
    </header>
    <div class="header-fixed-placeholder"></div>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
      "Empowering Lives through Nutritionist Doctor"
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <div class="container">
      <div class="left card">
        <br />
        <h2>NutriVision</h2>
        <br />

        <p>
          Upload your food image and write down your query!
        </p>
        <form id="upload-file" method="post" enctype="multipart/form-data ">
          <div class="inputt" class="mb-5 container" style="width: 500px">
            <textarea
              type="text"
              class="form-control bg-secondary"
              placeholder="Enter your query"
              name="description"
            ></textarea>
            <div class="imageinput" style="margin-top:10px;">
              <input
                class="form-control bg-secondary"
                type="file"
                name="file"
                class="btn btn-success"
                id="imageUpload"
                accept=".png, .jpg, .jpeg"
              />
            </div>
          </div>
        </form>
        <div class="image-section" style="display: none">
          <div class="img_section">
            <img
              id="imagePreview"
              class="img-responsive"
              src="#"
              style="height: 205px"
            />
            <button
              type="button"
              class="btn btn-success btn-lg fw-bold"
              id="btn-predict"
              style="width: 50px; display: flex; flex-direction: column; border-radius:25px; align-items:center;"
            >
              <span>S</span>
              <span>U</span>
              <span>B</span>
              <span>M</span>
              <span>I</span>
              <span>T</span>
            </button>
            <div class="loader" style="display: none"></div>
          </div>
        </div>
      </div>

      <div class="right card">
        <div id="default">
          <h2>Instructions</h2>
          <ul>
            <li>
              Upload an image less than a megabyte(MB) of the food you want to
              get the nutrition information of.
            </li>
            <li>
              Click on the "Predict!" button to get the nutrition information.
            </li>
            <li>
              You can enter your own query related to the image uploaded for
              example:
            </li>
            <ul>
              <li>Is the food is healthy for my age of 21 years old?</li>
              <li>Can we give this food to a diabetic patient?</li>
            </ul>
            <li>Entering query is not mandotory.</li>
            <li>Example of Images that you can upload:</li>
            <br />
            <img
              src="{{ url_for('static', filename='../static/images/Image1.jpg') }}"
              alt="food1"
              style="height: 190px"
            />
            <img
              src="{{ url_for('static', filename='../static/images/Image2.jpeg') }}"
              alt="food1"
              style="height: 190px"
            />
          </ul>
        </div>
        <p id="result"></p>
      </div>
    </div>
    <br /><br />
    <script src="{{ url_for('static', filename='header/header.js') }}"></script>
    <script>
      $(document).ready(function () {
        // Init
        $(".image-section").hide();
        $(".loader").hide();
        $("#result").hide();
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#imagePreview").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#imageUpload").change(function () {
          $(".image-section").show();
          $("#btn-predict").show();
          $("#result").text("");
          $("#result").hide();
          readURL(this);
        });
        // Predict
        $("#btn-predict").click(function () {
          var form_data = new FormData($("#upload-file")[0]);

          // Show loading animation
          $(this).hide();
          $(".loader").show();

          // Make prediction by calling api /predict
          $.ajax({
            type: "POST",
            url: "/nutri",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: true,
            success: function (data) {
              // Get and display the result
              $("#default").hide();
              $(".loader").hide();
              $("#result").fadeIn(600);
              // Split the data into lines
              var lines = data.split("\n");
              // Create a div to hold the text
              var resultList = $("<div>");
              // Iterate over each line and create list items
              lines.forEach(function (line) {
                // Trim any leading/trailing whitespace
                line = line.trim();
                if (line.length > 0) {
                  // Create a paragraph element
                  var paragraph = $("<p>").text(line);
                  // Append the paragraph to the result div
                  resultList.append(paragraph);
                }
              });
              // Append the result div to the result section
              $("#result")
                .html('<h2 class="result">Result:</h2>')
                .append(resultList);
              console.log("Success!");
            },
          });
        });
      });
      function goBack() {
        window.history.back();
    }
    </script>
  </body>
</html>
